* {
  color: #444;
}
*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
}
body .header {
  font-family: "Normal";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1vw;
}
body .header .logo-wrapper a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-wrap: nowrap;
}
body .header .logo-wrapper a .logo-wrapper__text {
  margin: 0 1vw;
  display: flex;
  align-items: center;
}
body .header .search-wrapper {
  height: 40px;
  display: flex;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #eee;
  align-items: center;
}
body .header .search-wrapper .search-wrapper__image {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
body .header .search-wrapper .search-wrapper__image img {
  width: 20px;
}
body .header .search-wrapper .search-wrapper__input {
  cursor: pointer;
  font-family: "Normal";
  font-size: 1rem;
  margin-left: calc(-2rem - 20px);
  padding: 0 1rem 0 calc(2rem + 20px);
  border-radius: 5px;
  height: 35px;
  flex-grow: 1;
  background-color: transparent;
  border: none;
}
body .header .search-wrapper .search-wrapper__input:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
body .header .cart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header .cart-wrapper .cart-wrapper__state {
  font-size: 1.2rem;
  margin: 0 1vw;
}
body .header .cart-wrapper .cart-wrapper__image {
  width: 30px;
  padding: 0 1vw 0 0;
}
body .main .filters .category-form__title, body .main .filters .brand-form__title, body .main .filters .price-range__title, body .main .filters .stock-range__title, body .main .ranges .category-form__title, body .main .ranges .brand-form__title, body .main .ranges .price-range__title, body .main .ranges .stock-range__title {
  font-family: Bold;
}
body .main .filters .category-form__content, body .main .filters .brand-form__content, body .main .ranges .category-form__content, body .main .ranges .brand-form__content {
  font-family: Normal;
}
body .main .buttons .button {
  font-family: Normal;
}
body .main .buttons .sort-options {
  font-family: Normal;
}
body .main .buttons .found {
  font-family: "Bold";
}
body .main .cards-wrapper .cards-wrapper .photo-zone {
  font-family: "Normal";
}
body .footer {
  font-family: "Normal";
  display: flex;
  justify-content: space-between;
  padding: 1vw 1vw;
}
body .footer .github {
  display: flex;
  justify-content: space-between;
}
body .footer .github .github__img {
  width: 3vw;
  margin: 0 1vw;
}
body .footer .year {
  font-size: 1.2rem;
}
body .footer .rs-school .rs-school__img {
  width: 5vw;
}

@font-face {
  font-family: "Bold";
  src: url("./../../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Normal";
  src: url("./../../assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
}/*# sourceMappingURL=global.css.map */