.main {
    justify-content: center;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    gap: 20px;
    height: 100%;
    margin-left: 20px;
    font-family: 'Bold';

    @media screen and (max-width: 900px) {
        margin-left: 0;
    }

    &__text-container {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__404 {
        font-size: 5rem;
        margin: 0;
        @media screen and (max-width: 500px) {
            font-size: 3rem;
        }
    }

    &__text {
        font-size: 2rem;
        margin: 0;
        @media screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    &__image {
        display: block;
        @media screen and (max-width: 500px) {
            transform: scale(0.8);
        }
    }

    @media screen and (max-width: 900px) {
        &__text-container {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}
